
.carepro-body{
  font-size:1em !important;
}
.carepro-navbar{
  font-size: 2em;
  text-align: center;
  border: solid;
  border-color: blue;
}

.home-page-top{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.appContainer{
  width:1200px;
}
